@page "/{Language}/about"
@inherits AboutBase

<HeadContent>
    <meta property="og:title" content="@Localizer["公司名稱"] - @Localizer["關於我們"]" />
    <meta property="og:description" content="@Localizer["關於我們"]">
    <meta property="og:locale" content="@Language">
</HeadContent>
<PageTitle>@Localizer["公司名稱"] - @Localizer["關於我們"]</PageTitle>


<FixedMenu Sidebars="Sidebars" Styles="top: 30vh; background-size: 30px 325px;" />

<article id="about" class="container mt-4 pb-3">
    <div class="row text-center">
        <h1 class="fs-1 fw-bolder">@Localizer["關於我們"]</h1>
    </div>
    <div class="row">
        <section id="profile" class="my-4">
            <h2 class="fs-3 fw-bolder text-success">@Localizer["公司介紹"]</h2>
            @((MarkupString)ProfileHtml)
        </section>
        <section id="vision" class="my-4">
            <h2 class="fs-3 fw-bolder text-success">@Localizer["願景"]</h2>
            <img src=@VisionImgUrl />
        </section>
        <section id="competence" class="my-4">
            <h2 class="fs-3 fw-bolder text-success">@Localizer["核心競爭力"]</h2>
            @((MarkupString)CompetenceHtml)
        </section>
        <section id="milestone" class="my-4">
            <h2 class="fs-3 fw-bolder text-success">@Localizer["里程碑"]</h2>
            <div class="row align-middle mt-4">
                <ul class="timeline timeline-centered">
                    @foreach (var milestone in MileStones)
                    {
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span>@milestone.Time</span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3 class="timeline-title">@milestone.EventTitle</h3>
                                <p>@milestone.Content</p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </section>
        <section id="quality" class="my-4">
            <h2 class="fs-3 fw-bolder text-success">@Localizer["品質政策"]</h2>
            <div class="text-center mt-2">
                <img id="quality-img" src=@QualityImgUrl />
            </div>
        </section>
        <section id="license" class="my-4">
            <h2 class="fs-3 fw-bolder text-success">@Localizer["相關證照"]</h2>
            <div class="row align-middle m-2">
                <div class="col-lg text-center">
                    <img src="/images/about/ISO9001.png" />
                    <br />
                    <span>ISO9001 證照</span>
                </div>
                <div class="col-lg text-center">
                    <img src="/images/about/RoHS.png" />
                    <br />
                    <span>RoHS 報告</span>
                </div>
            </div>
        </section>
    </div>
</article>