@page "/{Language}/EnterpriseSustainable"
@inherits EnterpriseSustainableBase

<PageTitle>@Localizer["公司名稱"] - @Localizer["企業永續經營"]</PageTitle>
<HeadContent>
    <meta property="og:title" content="@Localizer["公司名稱"] - @Localizer["企業永續經營"]" />
    <meta property="og:description" content="@ReplaceHtmlTag(ConflictMetal)">
    <meta property="og:locale" content="@Language">
    <meta property="og:image" content="">
</HeadContent>

<article id="enterprise-sustainable" class="container mt-4 pb-3">
    <div class="row text-center">
        <h1 class="fs-1 fw-bolder">@Localizer["企業永續經營"]</h1>
    </div>
    <section id="manage-policy" class="mt-4">
        <h2 class="fs-3 fw-bolder text-success">@Localizer["環安重要記事"]</h2>
        @((MarkupString)ManagePolicy)
    </section>

    <section id="conflict-metal" class="mt-4">
        <h2 class="fs-3 fw-bolder text-success">@Localizer["礦產衝突聲明"]</h2>
        @((MarkupString)ConflictMetal)
    </section>

    <section id="supplier-management" class="mt-4">
        <h2 class="fs-3 fw-bolder text-success">@Localizer["供應商管理"]</h2>
        @((MarkupString)SupplierManagement)
    </section>
</article>