@page "/{Language}/join"
@inherits JoinUsBase

<PageTitle>@Localizer["公司名稱"] - @Localizer["加入我們"]</PageTitle>
<HeadContent>
    <meta property="og:title" content="@Localizer["公司名稱"] - @Localizer["加入我們"]" />
    <meta property="og:description" content="@Localizer["加入我們"]">
    <meta property="og:locale" content="@Language">
    <meta property="og:image" content="">
</HeadContent>

<article id="join" class="container-fluid mt-4 p-0 pb-3">
    <div class="row text-center bg-white">
        <h1 class="fs-1 fw-bolder">@Localizer["加入我們"]</h1>
    </div>
    <section id="production" class="p-0 w-100 bg-white">
        <div class="container text-center py-3">
            <img src=@HeadImageUrl style="width: 90%;" alt="join us banner" />
        </div>
    </section>
    <section id="environment" class="container">
        <h2 class="fs-2 text-success text-center p-5">艾格生的生活</h2>
        <div class="row">
            <div class="col-lg-4 my-2">
                <h3 class="fs-5 text-center fw-bold">舒適的工作環境，激發多元創意</h3>
                <img src="images/joinUs/JoinUs1.png" style="width: 100%;" alt="join us image" />
                <p class="indent-2">
                    在艾格生我們擁有高品質舒適的工作環境，並營造和諧的辦公氛圍，激發多元的創意與想法。
                </p>
            </div>
            <div class="col-lg-4">
                <h3 class="fs-5 text-center fw-bold">集團用餐環境</h3>
                <img src="images/joinUs/JoinUs2.png" style="width: 100%;" alt="join us image" />
                <p class="indent-2">
                    提供員工用餐、交流的場地，讓員工佇足休息，充飽電再出發！
                </p>
            </div>
            <div class="col-lg-4">
                <h3 class="fs-5 text-center fw-bold">集團咖啡廳</h3>
                <img src="images/joinUs/JoinUs3.png" style="width: 100%;" alt="join us image" />
                <p class="indent-2">
                    隨時來一杯，滿足員工身心靈的昇華。
                </p>
            </div>
            <div class="col-lg-4">
                <h3 class="fs-5 text-center fw-bold">集團休閒運動</h3>
                <img src="images/joinUs/JoinUs4.png" style="width: 100%;" alt="join us image" />
                <p class="indent-2">
                    讓員工於工作之餘紓解壓力、增進活力並促進員工間互動。
                </p>
            </div>
            <div class="col-lg-4">
                <h3 class="fs-5 text-center fw-bold">追求工作與生活平衡，促進身心健康愉快</h3>
                <img src="images/joinUs/JoinUs5.png" style="width: 100%;" alt="join us image" />
                <p class="indent-2">
                    集團舉辦多元的活動供員工參與，放鬆身心之餘，亦可凝聚向心力。並藉此培養部門間之默契，促進團體合作、創造企業競爭力。
                </p>
            </div>
            <div class="col-lg-4">
                <h3 class="fs-5 text-center fw-bold">歲末聯歡晚會</h3>
                <img src="images/joinUs/JoinUs6.png" style="width: 100%;" alt="join us image" />
                <p class="indent-2">
                    每年犒賞員工辛勤付出。
                </p>
            </div>
        </div>
    </section>
    <section id="welfare" class="bg-white">
        <div class="container">
            <h2 class="fs-2 text-success text-center p-5">福利介紹</h2>
            <div class="row">
                <div id="benefit " class="col-lg">
                    <h3 class="fs-4 fw-bold">薪酬獎金</h3>
                    <p class="fs-5 indent-1">◆ 獎金：基本年薪12個月+獎金2個月。</p>
                    <p class="fs-5 indent-1">◆ 生日禮金：生日禮券。</p>
                    <p class="fs-5 indent-1">◆ 獎勵獎金：員工依特殊貢獻、表現優異等貢獻程度發給。</p>
                    <h3 class="fs-4 fw-bold mt-3">工作之餘不忘了休息</h3>
                    <p class="fs-5 indent-1">◆ 優於勞基法給假，新進人員到職即享有。</p>
                    <h3 class="fs-4 fw-bold mt-3">知識提升，持續進步</h3>
                    <p class="fs-5 indent-1">◆ 新進人員職前訓練。</p>
                    <p class="fs-5 indent-1">◆ 專業技術訓練。</p>
                    <p class="fs-5 indent-1">◆ 證照認證課程訓練。</p>
                    <h3 class="fs-4 fw-bold mt-3">認真工作，放心生活</h3>
                    <p class="fs-5 indent-1">◆ 每年辦理尾牙抽獎，犒賞同仁之辛勞。</p>
                    <p class="fs-5 indent-1">◆ 落實推動員工健康管理，每年定期辦理免費員工健檢。</p>
                    <p class="fs-5 indent-1">◆ 提供廠醫臨廠服務，疾病諮詢、健檢異常、預防保健等服務。</p>
                    <p class="fs-5 indent-1">◆ 營養美味午餐：提供免費營養午餐，輕鬆享受午休美好時光。</p>
                    <p class="fs-5 indent-1">◆ 結喪喜慶、生育、住院、生日津貼補助，你與家人就是我們的家人。</p>
                </div>
                <div class="col-lg border text-center align-self-center">
                    <img src="images/profile.jpg" style="max-width: 100%" alt="join us image" />
                </div>
            </div>
            <div class="fs-6 text-center my-3">※以上為福利制度簡述，個別員工之薪資福利事項悉依聘僱合約書及公司福利制度辦理。嗣後如有調整、修正者，以調整、修正後之規定為準。</div>
        </div>
    </section>
    <section id="personnel-training">
        <div class="container">
            <h2 class="fs-2 text-success text-center p-5">人才培訓</h2>
            <img id="training-img" src=@TrainingImageUrl alt="training image" />
        </div>
    </section>
</article>