@page "/{Language}/join"
@inherits JoinUsBase

<PageTitle>@Localizer["WebTitle"] - @Localizer["加入我們"]</PageTitle>
<HeadContent>
    <meta property="og:title" content="@Localizer["公司名稱"] - @Localizer["加入我們"]" />
    <meta property="og:description" content="@Localizer["加入我們"]">
    <meta property="og:locale" content="@Language">
    <meta property="og:image" content="">
</HeadContent>

<article id="join" class="container-fluid mt-4 p-0">
    <div class="row text-center bg-white">
        <h1 class="fs-1 fw-bolder">@Localizer["加入我們"]</h1>
    </div>
    <section id="environment" class="bg-white">
        <div class="container pb-2">
            <h2 class="fs-2 text-success text-center p-5">@Localizer["艾格生的生活"]</h2>
            @((MarkupString)EnviromentHtml)
        </div>
    </section>
    <section id="welfare">
        <div class="container pb-2">
            <h2 class="fs-2 text-success text-center p-5">@Localizer["福利介紹"]</h2>
            @((MarkupString)WelfareHtml)
        </div>
    </section>
    <section id="personnel-training" class="bg-white">
        <div class="container">
            <h2 class="fs-2 text-success text-center p-5">@Localizer["學習發展體系"]</h2>
            <img id="training-img" src=@TrainingImageUrl alt="training image" />
        </div>
    </section>
</article>