@page "/{Language}/product"
@using System.Globalization
@inherits ProductBase

<PageTitle>@Localizer["WebTitle"] - @Localizer["產品中心"]</PageTitle>
<HeadContent>
    <meta property="og:title" content="@Localizer["公司名稱"] - @Localizer["產品中心"]" />
    <meta property="og:description" content="@Localizer["產品中心"]">
    <meta property="og:locale" content="@Language">
    <meta property="og:image" content="">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js" defer></script>
</HeadContent>

<FixedMenu Sidebars="Sidebars" Styles="top: 20vh; background-size: 30px 400px;" />

<article id="product" class="container mt-4 pb-3">
    <div class="text-center">
        <h1 class="fw-bold">@Localizer["產品中心"]</h1>
    </div>
    <div class="mt-3">
        @foreach (var category in ProductCategorys)
        {
            <section id=@category.Category>
                <p class="fs-2 fw-bold product-title">@category.Name</p>
                @foreach (var product in category.Products)
                {
                    <div class="mb-4">
                        <a href=@product.Uri class="text-decoration-none link-dark">
                            <div class="row product">
                                @if (product.ImageUrl is null)
                                {
                                    <div class="col-lg text-start product-text">
                                        <p class="fs-3 text-success fw-bold">@product.ProductName</p>
                                        <p class="fs-5 indent-2">
                                            @product.Description
                                        </p>
                                        <input type="button" class="btn btn-outline-secondary float-end mt-2" value=@Localizer["了解更多"] />
                                    </div>
                                }
                                else
                                {
                                    @if (product.Serial % 2 == 1)
                                    {
                                        <div class="col-lg text-end">
                                            <img src=@product.ImageUrl alt=@product.ProductName />
                                        </div>
                                        <div class="col-lg text-start product-text">
                                            <p class="fs-3 text-success fw-bold">@product.ProductName</p>
                                            <p class="fs-5 indent-2">
                                                @product.Description
                                            </p>
                                            <input type="button" class="btn btn-outline-secondary float-end mt-2" value=@Localizer["了解更多"] />
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-lg text-start product-text">
                                            <p class="fs-3 text-success fw-bold text-end">@product.ProductName</p>
                                            <p class="fs-5 indent-2">
                                                @product.Description
                                            </p>
                                            <input type="button" class="btn btn-outline-secondary float-start mt-2" value=@Localizer["了解更多"] />
                                        </div>
                                        <div class="col-lg text-start">
                                            <img src=@product.ImageUrl alt=@product.ProductName />
                                        </div>
                                    }
                                }
                            </div>
                        </a>
                    </div>
                }
            </section>
        }
    </div>
</article>